*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
 font-size: 25px;
   
}
li{
    width: 100vw;
   background-color: aqua;
   display: flex;
    justify-content:space-evenly;
}
a:hover{
    background-color: yellow;
}