#p-box {
    background-color: red;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#p-box div {
    width: 100px;
    height: 100px;
}

#box-1 {
    background-color: blue;
}
#box-2 {
    background-color: green;
}
#box-3 {
    background-color: yellow;
}
#box-4 {
    background-color: pink;
}