*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
.container{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    display: grid;
    padding: 2rem;
    gap:1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:repeat(3,1fr);
   
}
.item{
    background-color: chartreuse;
    border: 5px solid rgb(195, 45, 45);
  
}
.header{
      grid-column-start: 1;
    grid-column-end: 4;
}